<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>scripts\PropertyWebAPI.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/property</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NYCOURTSEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=&quot;localhost, 4436&quot;;Initial Catalog=NYCOURTS;Persist Security Info=True;User ID=sa;Password=eY2Fe6TN&lt;eDS" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="eCourtsDB.NYCOURTSEntities, eCourtsDB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WebAPISecurityEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=&quot;localhost, 4436&quot;;Initial Catalog=WebAPISecurity;Persist Security Info=True;User ID=sa;Password=eY2Fe6TN&lt;eDS" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebAPISecurityDB.WebAPISecurityEntities, WebAPISecurityDB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ACRISEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=&quot;localhost, 4436&quot;;Initial Catalog=AreaAbstractNew;Persist Security Info=True;User ID=sa;Password=eY2Fe6TN&lt;eDS" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ACRISDB.ACRISEntities, ACRISDB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NYCDOFEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=&quot;localhost, 4436&quot;;Initial Catalog=NYCDOF;Persist Security Info=True;User ID=sa;Password=eY2Fe6TN&lt;eDS" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NYCDOF.NYCDOFEntities, NYCDOF" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WebDataEntities" Order="5" Enabled="False">
          <Destination Path="Data Source=&quot;localhost, 4436&quot;;Initial Catalog=WebData;Persist Security Info=True;User ID=sa;Password=eY2Fe6TN&lt;eDS" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebDataDB.WebDataEntities, WebDataDB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GPADBEntities1" Order="6" Enabled="False">
          <Destination Path="Data Source=&quot;localhost, 4436&quot;;Initial Catalog=GPADB;Persist Security Info=True;User ID=sa;Password=eY2Fe6TN&lt;eDS" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GPADB.GPADBEntities1, GPADB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NYCDOBEntities" Order="7" Enabled="False">
          <Destination Path="Data Source=&quot;localhost, 4436&quot;;Initial Catalog=NYCDOB;Persist Security Info=True;User ID=sa;Password=eY2Fe6TN&lt;eDS" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NYCDOB.NYCDOBEntities, NYCDOB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NYCMAEntities" Order="8" Enabled="False">
          <Destination Path="Data Source=&quot;localhost, 4436&quot;;Initial Catalog=NYCMA;Persist Security Info=True;User ID=sa;Password=eY2Fe6TN&lt;eDS" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NYCMADB.NYCMAEntities, NYCMADB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NYCVNLEntities" Order="9" Enabled="False">
          <Destination Path="Data Source=&quot;localhost, 4436&quot;;Initial Catalog=NYCVNL;Persist Security Info=True;User ID=sa;Password=eY2Fe6TN&lt;eDS" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NYCVNL.NYCVNLEntities, NYCVNL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ACRISEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/acrisDB.csdl|res://*/acrisDB.ssdl|res://*/acrisDB.msl;provider=System.Data.SqlClient;provider connection string='Data Source="localhost, 4436";Initial Catalog=AreaAbstractNew;Persist Security Info=True;User ID=sa;Password=eY2Fe6TN&lt;eDS'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GPADBEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/GPADB.csdl|res://*/GPADB.ssdl|res://*/GPADB.msl;provider=System.Data.SqlClient;provider connection string='Data Source="localhost, 4436";Initial Catalog=GPADB;Persist Security Info=True;User ID=sa;Password=eY2Fe6TN&lt;eDS'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NYCDOBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/NYCDOB.csdl|res://*/NYCDOB.ssdl|res://*/NYCDOB.msl;provider=System.Data.SqlClient;provider connection string='Data Source="localhost, 4436";Initial Catalog=NYCDOB;Persist Security Info=True;User ID=sa;Password=eY2Fe6TN&lt;eDS'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NYCDOFEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/NYCDOFDB.csdl|res://*/NYCDOFDB.ssdl|res://*/NYCDOFDB.msl;provider=System.Data.SqlClient;provider connection string='Data Source="localhost, 4436";Initial Catalog=NYCDOF;Persist Security Info=True;User ID=sa;Password=eY2Fe6TN&lt;eDS'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NYCMAEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/NYCMADB.csdl|res://*/NYCMADB.ssdl|res://*/NYCMADB.msl;provider=System.Data.SqlClient;provider connection string='Data Source="localhost, 4436";Initial Catalog=NYCMA;Persist Security Info=True;User ID=sa;Password=eY2Fe6TN&lt;eDS'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NYCOURTSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/eCourtsEDM.csdl|res://*/eCourtsEDM.ssdl|res://*/eCourtsEDM.msl;provider=System.Data.SqlClient;provider connection string='Data Source="localhost, 4436";Initial Catalog=NYCOURTS;Persist Security Info=True;User ID=sa;Password=eY2Fe6TN&lt;eDS'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NYCVNLEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/NYCVNL.csdl|res://*/NYCVNL.ssdl|res://*/NYCVNL.msl;provider=System.Data.SqlClient;provider connection string='Data Source="localhost, 4436";Initial Catalog=NYCVNL;Persist Security Info=True;User ID=sa;Password=eY2Fe6TN&lt;eDS'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebAPISecurityEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/WebAPISecurityDB.csdl|res://*/WebAPISecurityDB.ssdl|res://*/WebAPISecurityDB.msl;provider=System.Data.SqlClient;provider connection string='Data Source="localhost, 4436";Initial Catalog=WebAPISecurity;Persist Security Info=True;User ID=sa;Password=eY2Fe6TN&lt;eDS'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/WebDataDBModel.csdl|res://*/WebDataDBModel.ssdl|res://*/WebDataDBModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source="localhost, 4436";Initial Catalog=WebData;Persist Security Info=True;User ID=sa;Password=eY2Fe6TN&lt;eDS'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>